{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fake Instagram</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="icon" href="{% static 'img/igLogo' %}" type="image/jpeg">
    </head>
    <body>

      <div class="sticky-top page-header container-fluid"> 
        <nav class="navbar navbar-expand-lg">
          <a class="title navbar-brand" href="/">
            <img class="logo" src="{% static 'img/igLogo' %}">
            FakeStagram
          </a>
          <span>Hello, {{ request.user }}</span>
          <span><a href="{% url 'blog:logout' %}">Logout</a></span>
        </nav>
      </div>

      
      <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col">
            <div class="card-deck">
              <div class="card content">
                {% block content %}{% endblock content %}
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="settings-column">
              <div class="side-panel card-body">
                <div>
                  <img class="user-profile-pic" src="{% static 'img/igLogo' %}" >
                  <h5 class="card-title">
                    {{ user.user_name }}
                  </h5>
                </div>
                <div style="margin-top: 35px;">
                  <p class="card-text">
                    Suggestions For You
                    <a href="{% url 'blog:post_new' %}" class="see-all" style="color: #000000;" ><strong>Add post</strong></a>
                  </p>
                </div>
                <div style="margin-top: 15px;">
                  <ul class=" list-group">
                    {% for user in users %}
                    <li class="suggestions-list-item list-group-item d-flex justify-content-between align-items-center">
                        <img src="{% static 'img/igLogo' %}" >
                        <div class="suggestion-user-name">{{ user.user_name }} </div>
                        <a href="{% url 'blog:home' %}" >Follow</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>
