{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fake Instagram</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
        <link rel="icon" href="{% static 'img/igLogo' %}" type="image/jpeg">
    </head>
    <body>
      
      <div class="sticky-top page-header container-fluid">
        <div class="d-flex flex-row bd-highlight">
          <div class="title navbar-brand">
            <img class="logo-image" src="{% static 'img/instagram.png' %}">
          </div>
          <div class="col col-sm" > 
            <form class="search-top-form form-inline">
              <div class="input-group input-group-sm mb-3" >
                <input class="form-control search-input" type="search" placeholder="  Search" aria-label="Search" >
              </div>
            </form>
          </div>
          <div class="top-menu-list col nav" >
            <ul class="list-group list-group-horizontal-sm">
              <li class="icon-list list-group-item"><a href="{% url 'blog:home' %}"><i class="fas fa-home fa-lg"></i></a></li>
              <li class="icon-list list-group-item"><a href="{% url 'blog:inbox' %}"><i class="far fa-paper-plane fa-lg"></i></a></li>
              <li class="icon-list list-group-item"><a href="{% url 'blog:trendingTopics' %}"><i class='far fa-compass fa-lg'></i></a></li>
              <li class="icon-list list-group-item nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-heart fa-lg"></i></a> 
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"> some stuf</a>
                  <a class="dropdown-item" href="#"> ascim</a>
                  <a class="dropdown-item" href="#"> ojrfe </a>
                  <a class="dropdown-item" href="#"> regewtuf</a>...
                </div>
              </li>
              <li class="icon-list list-group-item nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="top-user-img rounded-circle" src="{% static user.profile_img %}" ></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"><i class="far fa-user-circle"></i> Profile</a>
                  <a class="dropdown-item" href="#"><i class="far fa-bookmark"></i> Saved</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'blog:logout' %}"><i class="fas fa-sign-out-alt"></i><b> Logout</b></a>
                </div>
              </li> 
            </ul>
          </div>
        </div>
      </div>

      {% block content %}{% endblock content %}

    </body>
</html>
