{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Fake Instagram</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
        <link rel="icon" href="{% static 'img/igLogo' %}" type="image/jpeg">
    </head>
    <body>
      
      <div class="sticky-top page-header container-fluid">
        <div class="d-flex flex-row bd-highlight">
          <div class="title navbar-brand">
            <img class="logo-image" src="{% static 'img/instagram.png' %}">
          </div>
          <div class="col" > 
            <form class="search-top-form form-inline">
              <div class="input-group input-group-sm mb-3" >
                <input class="form-control search-input" type="search" placeholder="  Search" aria-label="Search" >
              </div>
            </form>
          </div>
          <div class="top-menu-list col nav" >
            <ul class="list-group list-group-horizontal-sm">
              <li class="icon-list list-group-item"><i class="far fa-map fa-lg"></i></li>
              <li class="icon-list list-group-item"><i class="far fa-paper-plane fa-lg"></i></li>
              <li class="icon-list list-group-item"><i class='far fa-compass fa-lg'></i></li>
              <li class="icon-list list-group-item"><i class="far fa-heart fa-lg"></i></li> 
              <li class="icon-list list-group-item nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img class="top-user-img rounded-circle" src="{% static user.profile_img %}" ></a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li> 
            </ul>
          </div>
        </div>
      </div>

      
      <div class="container-fluid">
        <div class="row justify-content-between">
          <div class="col">
            <div class="card-deck">
              <div class="card content">
                {% block content %}{% endblock content %}
              </div>
            </div>
          </div>
        
          <div class="col">
            <div class="settings-column">
              <div class="side-panel card-body">
                <div class="">
                  <img class="user-profile-pic" src="{% static user.profile_img %}" >
                  <h5 class="card-title user-title">
                    <b>{{user.user_name}}</b>
                    <p class="sub-title-user"><small class="text-muted">{{user.user}}</small></p>  
                  </h5>
                </div>
                <div class="suggestions-title" >

                  <p class="card-text text-muted">
                    <b>Suggestions For You</b>
                    <a href="{% url 'blog:post_new' %}" class="see-all text-decoration-none" ><strong>Add post</strong></a>
                  </p>
                </div>
                <div class="sugestion-list">
                  <table class="table table-sm" style="border: none;">
                    <tbody>
                    {% for user in users %}
                      <tr>
                        <td colspan="1" class="img-table">
                          <img src="{% static user.profile_img %}" class="user-profile-pic" >
                        </td>
                        <td colspan="2">
                          <div class="suggestion-user-name">
                            <h5 class="card-title user-title">
                              <b>{{user.user_name}}</b>
                              <p class="sub-title-user"><small class="text-muted">{{user.user}}</small></p>  
                            </h5>
                          </div>
                        </td>
                        <td class="link-table" colspan="1">
                          <small><a href="{% url 'blog:home' %}" class="link-follow text-decoration-none" ><b>Follow</b></a></small>
                        </td>
                      </tr>
                    {% endfor %}
                   </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>
