{% extends "blog/base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="position-inbox-div">
        <div class="left-div container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-9 container-fluid">
                    <p class="text-center"><h6><b>Direct</b></h6></p>
                </div>
                <div class="col-sm-3 container-fluid icon-inbox-h">
                    <i class="far fa-edit"></i>
                </div>
            </div>
            <div class="row divider-top">
                <div class="chat-list container-fluid">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
