{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="card-post">
    <div class="storys-list container-fluid">
        <ul class="nav">
            <li class="nav-item"><img class="story" src="{% static user.profile_img %}"></li>
            {% for story in storys %}
            <li class="nav-item"><img class="story" src="{% static story.img_path %}"></li>  
            {% endfor %}
        </ul>
    </div> 
</div>
{% for post in posts %}
<div class="card-post">
    <div class="card-header">
        <img class="story-header" src="{% static post.post.img_path %}">
        <h4 class="user-name"><b> {{ post.user.user_name }} </b></h4>
    </div>
    <img src="{% static post.post.img_path %}" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="icons">
            <h6 class="card-title">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">Heart</li>
                    <li class="list-group-item">Save</li>
                    <li class="list-group-item">Archive</li>
                </ul>
            </h6>
        </div>
        <div class="post-detail-body">
            <div class="post-description-header">
                <p class="card-text"><strong>{{ post.user.user_name }} </strong></p>
                <div class="post-description">
                    {{ post.post.description|linebreaks }}
                </div>
            </div>
            {% for comment in post.comments %}
            <div class="comments-card">
                <div class="comment-img">
                    <img class="user-profile-pic" src="{% static post.user.profile_img %}">
                </div>
                <div class="comment-content">
                    <p>{{ comment.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="add-comment card-footer bg-transparent input-group">
        <input class="comment-input form-control" type="text" name="comments" placeholder="Add a comment...">
        <div class="comment-btn input-group-append">
            <a href='{% url "blog:post_detail" post.post.id %}' class="btn btn-sm btn-link"><b>Post</b></a>
        </div>
    </div>
</div>
{% endfor %}  
{% endblock content %}