{% extends "blog/base.html" %}
{% load static %}


{% block content %}
    <div class="container" style="background-color: yellow;">
        <div class="row justify-content-start">
            
            <div class="row align-items-start justify-content-start" style="background-color: red;">
                <div class="col-sm" style="background-color: aqua;">
                    <img class="profile-img-big rounded-circle" src="{% static user.profile_img %}">
                </div>
                <div class="col-sm-9 w-100" style="background-color: palevioletred;">
                    {{user.description}}
                </div>
            </div>
            <div class="row align-items-center" style="background-color: orange;">
                <div class="col-sm">
                    all the storys stored
                </div>
            </div>

        </div>
    </div>
{% endblock content %}