{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="login">
            <div class="cont-form">
                <div class="logo-slogan">
                    <img class="instagram-title" src="{% static 'img/instagram.png' %}">
                </div>
                <div class="subtitle">
                    <span><b>Sign up to see photos and videos from your friends</b></span>
                </div>
                <div class="divider"></div>
                <div class="center-block form-login">
                    <form id="formu-register" method="POST" class="register">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group aling-items-center">
                                <div class="fields col">
                                    {{field}}
                                </div>
                            </div>
                        {% endfor %}
                            <div class="form-row aling-items-center">
                                <div class="btn-register container">
                                    <button type="submit" class="btn btn-primary btn-sm btn-block">Sign up</button>
                                </div>
                                <div class="footer-register mx-auto">
                                    <p>Already have an account? <a href="{% url 'blog:login' %}">Log in</a></p>
                                </div>  
                            </div>
            
                        {% if form.errors %}
                        <div class="alert alert-info" role="alert">
                            {{form.errors}}
                        </div>
                        {% endif %}
                    </form>
                </div> 
            </div> 
        </div>
        <script>
            username = document.getElementById("id_username").setAttribute("placeholder","Username")
            email = document.getElementById("id_email").setAttribute("placeholder","Email")
            password1 = document.getElementById("id_password1").setAttribute("placeholder","Enter your Password")
            password2 = document.getElementById("id_password2").setAttribute("placeholder","Repeat the Password")
        </script>         
    </body>
</html>

