/***********************
    Global styles
************************/

body{
    color: #000000;
    background-color: #ffffff;
    width: 100%;
}


/***********************
    Header Css
*************************/
.page-header{
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}


.logo-image{
    width: 20px;
    height: 20px;
}


/**************************
    Storys
***************************/
.logo{
    height: 40px;
    width: 40px;
    border-radius: 20%;
}

.storys-list{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*******************************
    Post
********************************/
.user-profile-pic{
    height: 35px;
    width: 35px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}

.title{
    color: #ffffff;
    font-family: cursive;
}

.story{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 5px;
}

.content{
    min-width: 500px;
}

.story-header{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
}

.user-name{
    margin-top: 8px;
}

.card{
    border: none;
}

.card-post{
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px;
}

.card-header{
    background-color: white;
}

.card-deck{
    margin-left: 170px;
}


/***********************
    Side Panel
************************/
.side-panel{
    margin-top: 20px;
    max-width: 350px;
}

.see-all{
    float: inline-end;
}

.suggestions-list-item{
    border: none;
}

.suggestions-list-item > img {
    width: 20px;
    height: 20px;
    float: inline-start;
    margin-left: -17px;
}

.suggestion-user-name{
    margin-left: 0px;
}


.settings-column{
    position: fixed;
    right: 5%;
    min-width: 430px;
    height: auto;
}

/*******************************
            Register&Login Css
 ******************************/
.login{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-login{
    padding: 0px;
    display: flex;
    justify-content: center;
}

.btn-register{
    max-width: 300px;
    margin-top: 30px;
}

.cont-form{
    padding: 20px; 
    background-color:#ffffff;
    border: solid 1px #e4e4e4;
}

.title-reg{
    display: flex;
    justify-content: center;
}

.footer-register{
    display: flex;
    justify-content: center;
    color: #b1afaf;
    font-style: initial;
}

.fields{
    display: flex;
    justify-content: center;
}


.divider{
    margin: 30px;
    border: solid 0.09px;
    border-radius: 2px;
    color:  #ececec;
}

.subtitle{
    display: flex;
    justify-content: center;
    color: #b1afaf;
    max-width: 270px;
    text-align: center;
    margin: auto;
}