/***********************
    Global styles
************************/

body{
    color: #000000;
    background-color:rgba(var(--b3f,250,250,250),1);
    width: 100%;
}


/***********************
    Header Css
*************************/
.page-header{
   /* background: #642B73;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to bottom, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to bottom, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-color: #ffffff; 
   /*width: 100%; */
   padding-left: 221px;
   padding-right: 0;
   border-bottom: 1px #cfcfcf solid;
   max-height: 54px;
}

.page-header span{
    color: #030303;
}


.page-header .col{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-image{
    display: inline-flex;
    width: 110px;
    height: 52px;
}

.page-header .navbar{
    padding: 0;
    max-height: 88px;
}

.search-top-form{
    padding-top: 10px;
}

.search-input{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Font Awesome 5 Free", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    text-decoration: inherit;
    max-width: 217px;
    max-height: 28px;
    color: #cfcfcf !important;
}

.form-control::placeholder {
    color: #cfcfcf;
    opacity: 1;
}

.icon-list{
    border: none;
    display: flex;
    justify-content: end;
    padding: 0rem 0.8rem;
    margin: auto;
}

.top-user-img{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 0.8rem;
}

.top-menu-list{
    max-height: 50px;
    margin-right: 50px;
}

.top-menu-list .nav-link{
    display: inherit;
    padding: 0;
}

.top-menu-list a{
    color: #000000;
}

.list-group-horizontal-sm .list-group-item{
    margin-bottom: auto;
}

.dropdown-toggle::after{
    border-top: none !important;
    margin-left: 0;
}

.dropdown-item{
    font-size: small;
}


/**************************
    Storys
***************************/
.logo{
    height: 30px;
    width: 30px;
    border-radius: 20%;
}

.storys-list{
    margin-top: 10px;
    margin-bottom: 10px;
}

.storys-list .nav .nav-item{
    margin-right: 13px;
    text-align: center;
}


/*******************************
    Post
********************************/
.user-profile-pic{
    height: 56px;
    width: 56px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}

.title{
    color: #ffffff;
    font-family: cursive;
}

.story{
    width: 56px;
    height: 56px;
    margin-right: 5px;
}

.icons-post-list .list-group-item {
    border: none;
    padding: 2px 20px 0 0;
    display: flex;
}

.icons-post-menu{
    font-size: 1.4rem;
    float: right;
}

.menu-items-list{
    padding-right: 0;
}

.icons{
    padding: 0 0 15px 15px;
}

.left-icons{
    padding: 0;
    display: flex;
    margin-left: -15px;
}

.right-icons{
    padding: 0;
    text-align: end;
    margin-right: -15px;
}

.content{
    min-width: 614px;
    background-color: rgba(var(--b3f,250,250,250),1);
}

.story-header{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    border-radius: 100%;
}

.user-name{
    margin-top: 8px;
}

.card-post{
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 20px;
}

.card-header{
    background-color: white;
}

.card-deck{
    margin-left: 170px;
}


.post-description-header{
    height: auto;
    line-height: 20px;
    margin-bottom: 3px;
}



.user-post-comment{
    float: left;
    margin-right: 10px;
}


/***********************
    Side Panel
************************/
.side-panel{
    margin-top: 20px;
    max-width: 350px;
}

.see-all{
    float: inline-end;
}

.suggestions-title{
    margin-top: 35px;
    margin-bottom: 25px;
}

.table img {
    width: 32px;
    height: 32px;
}

.suggestion-user-name{
    margin-left: 0px;
    float: left;
}

.settings-column{
    position: fixed;
    right: 2%;
    min-width: 430px;
    height: auto;
}

.sub-title-user{
    font-size: medium;
}


.sugestion-list .table tr{
    border: none;
}

.sugestion-list .table td{
    padding: 0;
    border-top: none;
}

.link-table{
    text-align: end;
    vertical-align: inherit !important;  
}

.link-follow{
    margin-top: 5px;
}

.img-table{
    width: 36px;
}

.user-title{
    font-size: 14px;
}

/*******************************
            Register&Login Css
 ******************************/
.login{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-login{
    padding: 0px;
    display: flex;
    justify-content: center;
}

.btn-register{
    max-width: 300px;
    margin-top: 30px;
}

.cont-form{
    padding: 20px; 
    background-color:#ffffff;
    border: solid 1px #e4e4e4;
}

.title-reg{
    display: flex;
    justify-content: center;
}

.footer-register{
    display: flex;
    justify-content: center;
    color: #b1afaf;
    font-style: initial;
    margin-top: 7px;
}

.fields{
    display: flex;
    justify-content: center;
}


.divider{
    margin: 30px;
    border: solid 0.09px;
    border-radius: 2px;
    color:  #ececec;
}

.subtitle{
    display: flex;
    justify-content: center;
    color: #b1afaf;
    max-width: 270px;
    text-align: center;
    margin: 5px auto 30px auto;
}

#id_form_login{
    margin-top: 18px;
}

#id_btn_login{
    margin-top: -28px;
}

.cont-form .divider{
    margin-top: -15px;
}

.forgot-password{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: -15px;
}

.instagram-title{
    display: flex;
    justify-content: center;
    height: 91px;
    width: 175px;
}

.logo-slogan{
    display: flex;
    justify-content: center;
    margin-bottom: -5px;
}


/************************************
    Comments Styles
*********************************/

.comment-content{
   /* background-color: green;  */
    display: flex;
    justify-content: left;
    margin-left: 0px;
}

.comment-content p {
    margin-left: 10px;
}

.comments-card {
    /* background-color: red; */
    padding-bottom: 0px;
    line-height: 5px;
}

.add-comment{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.comment-btn{
    margin-top: 3px;
}

.comment-input{
    border: none;
}

.post-card{
    padding: 14px;
}

.comment-img{
    float: left;
}



/******************************
    Efects
****************************/

a:hover{
    color: #064d88;
}




/************************************
    Inbox messages
*********************************/

.position-inbox-div{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center; 
    text-align: center;
    margin-top: 25px;
}

.inbox-div{
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #ececec;
    display: flex;
    justify-content: left;
}

.chat-list{
    padding: 0;
    text-align: initial;
}

.left-div{
    border: 1px solid #ececec;
    background-color: #ffffff;
    max-width: 300px;
    height: 550px;
    margin-right: 0;
}

.chat-list .list-group{
    height: 496px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.chat-list .list-group-item{
    border: none;
    padding: 6.3px 8.25px 0.1px;
}

.chat-list img{
    width: 38px;
    height: 38px;
}

.btn-link{
    color: #000000;
}

.icon-inbox-h{
    text-align: end;
}

.right-div{
    height: 550px;
    background-color: #ffffff;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    max-width: 600px;
    margin-left: 0;
}

.chat-panel{
    min-height: 496px;
}
    
.chat-screen{
    min-height: 420px;
}

.message-bar{
    height: 52px;
}


/* Chat bar input and div and effects */
.content-input{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px;
    border-radius: 12px;
    position: relative;
    width: auto;
    height: 40px;
    margin: 16px;
}

.content-input input{
    border: 0px;
    background: transparent;
    outline: none;
    font-size: .9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 8px;
    width: 200px;
    transition: all .25s ease;
}

.content-input input:focus{
    padding-left: 5px;
    padding-right: 8px;
}

.content-input input:focus ~ .bg-content{
    border: 2px solid rgb(60, 166, 252);
}

.content-input input:focus ~ .col{
    transform: translate(0,-4px);
}

.content-input input:focus {
    transform: translate(0,-4px);
}

.content-input input:focus ~ i {
    transform: translate(0,-4px);
    box-shadow: 0px 8px 20px 0px transparent;
}

.content-input i.iconito {
    order: -1;
    background: transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    z-index: 20;
    transition: all .25s ease;
}

.bg-content{
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    pointer-events: none;
    border-radius: inherit;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all .25s ease;
}

/* end of the efects and stuf from the chat input */


.chat-text{

}



/******************************************
        Trending view CSS
*******************************************/

.story-card-feed-img{
    width: 364px;
    height: auto;
}

.footer{
    margin: auto;
}

/*************************************************
        Profile View CSS
*************************************************/

.profile-img-big{
    width: 170px;
    height: 170px;
}

.profile-storys{
    width: 75px;
    height: 75px;
}


